* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    width: 100%;
}

header {
    background-color: #252525;
    text-align: center;
    color: #f5f5f5;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Courgette', cursive;
    font-size: 50px;
}

h2 {
    color: #f5f5f5;
    font-size: 50px;
    font-family: 'Courgette',cursive;
}

body {
    background-image: url(barphoto.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.options {
    text-align: center;
}

#dropdownMenu1 {

    width: 100%;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-decoration: solid;
    background-color:#252525;
    border-radius: 50px;
    color: #f5f5f5;
    font-family: 'Courgette', cursive;
    font-size: larger;


}

.dropdown-menu {
    margin-top: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color:#6c757d;


}

.btn {
    height: 100%;
    width: 100%;
}

.btn-prompt {
    margin-top: 100px;
    padding: 20px;
    background-color: #252525;
    color: #f5f5f5;
    font-size: larger;
    border-radius: 50px;
    font-family: 'Courgette', cursive;

}

.ingredient {
    list-style: none;
    color: #f5f5f5;
}

ul {
    padding: 0px;
}

.withBackground {
    padding: 10px;
    text-align: center;
    background-color: #252525;
    color: #f5f5f5;
}


.playlist-description {
    padding: 10px;
}

.drinkImg {
    padding-bottom: 10px;
}

.your-drink,
.your-playlist {
    padding: 10px;
    color: orange;
    font-family: 'Courgette', cursive;
}

.enjoy {
    margin-top: 15px;
    border-radius: 50px;
    color: orange;
    font-family: 'Courgette', cursive;

}

.ingredient {
    list-style: none;
    color: #f5f5f5;
}


ul {
    padding: 0px;
}

/* .Tequila:hover,
.Vodka:hover,
.Gin:hover,
.Rum:hover,
.Whiskey:hover
.liquor-btn:hover,
.btn-light:hover,
.category-btn:hover {
    background-color: #ff9933;

} */

.row-2 {
    margin-bottom: 20px;
}

