* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

header {
    background-color: slategray;
    text-align: center;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: cursive;
}

body {
    background-image: url(barphoto.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.row {
    text-align: center;
}

.options {
    text-align: center;
}

#dropdownMenu1 {
    width: 100%;
    margin-top: 3in;
    justify-content: center;
    align-items: center;
    padding: 30px;
    text-decoration: solid;
    background-color:black;
    border-radius: 50px;
    color: white;
    /* position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.dropdown-menu {
    margin-top: 0;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    transform: translate3d(100px,374px,0px) !important;

}

.btn {
    height: 100%;
    width: 100%;
}

.withBackground {
    background-color: gray;
    width: 100%;
}

.row {
    width: 100%;
}

.withBackground {
    color: white;
}

.ingredient {
    list-style: none;
    color: white;
}

ul {
    padding: 0px;
}

.Tequila:hover,
.Vodka:hover,
.Gin:hover,
.Rum:hover,
.Whiskey:hover{
    background-color: yellow;
}

.stepTwo-container{
    background-color: black;
}